* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}


::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #333333 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.sidebar-span {
  padding-right: 20px;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
  height: 35px;
  background-color: #4f4f4f;
  color: white;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 12px 15px;
  margin: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: white
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: block;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  background-color: #5e5e5e;
  height: 0px;
  width: 100%;
  z-index: 1;
  transition: 0.2s;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.dropdown:hover .dropdown-content {
  height: 100px;
}

.video-button {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: #474747;
  margin-top: 5px;
  margin-left: 1%;
  padding: 20px;
  height: 15px;
  width: 98%;
  color: white;
}

.video-button:hover {
  background-color: #333333;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width:800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 200px;
  }
}